nav {
  height: 120px;
  width: 100vw;
  /* background-color: #4056A1; */
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  flex-direction:row;
  position: sticky;
  top: 0;
  z-index:1;
}

.nav-row {
  display: flex;
  flex:1;
  justify-content:flex-start;

}
.nav-column{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  nav{
   position: absolute;
   top: 0;
  }
  main{
    margin-top: 17em;
  }
  header img{
    padding-top:2em;
  }
 
}



/* 
120 pixels in height
Full width of the viewport
#4056A1 as its default background colour
#FFFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges */