.new-tweet{
  display: flex;
  flex:1;
  flex-direction: column;
  margin: 20px;
}

.tweet-button{
background-color: royalblue;
color: white;
font-family: Bungee;

}

.text-input{
  display:flex;
  flex-direction:column;
}

.counter{
  position: relative;
  float: right;
  font-family: Bungee;
}

.red-counter{
  color: red;
}

#tweet-text{
  
border:none;
background:none;
border-bottom: solid black 2px;
outline: none;
margin-bottom:10px;
}

